section#section-2
  .content
    h2.section2
      | Domain where we are acting
    p
      | We specialise in solving problems to produce intelligent designs, deliver
      | engaging experiences and build meaningful connections
    #doms
