section#section-1
  .content
    h1
      | Haute Autorité Nigérienne à l'Energie Atomique
    p
      | HANEA
    button.btn.btn-primary
      | Decouvrir
    button.btn.btn-primary.next
      i.fa.fa-arrow-down
