section#section-4(data-parallax='scroll')
  .content
    h1
      | Our Partners
    p
      | We specialise in solving problems to produce intelligent designs, deliver
      | engaging experiences and build meaningful connections
  .container
    .row.partners
      .col-md-4.col-sm-3
        h1 AIEA
        .partner-logo.aiea
      .col-md-4.col-sm-3
        h1 Présidence de la République (Niger)
        .partner-logo.niger-rpb

      .col-md-4.col-sm-3
        h1 AIEA
        .partner-logo.aiea
