section#section-5.contact
  .container
    .row
      .col-md-7
        .newsletter
          form(action="#")
            h3
              | WANT TO BE TAIGATIZED
            p
              | Subscribe to our newsletter and stay informed :)
            input.email(type='email', placeholder='Email')
            input.submit(type='submit', value='suscribe')
