section#hanea-features
  .row
    .col-md-4.col-sm-3#item
      .featured-icon.health
      .cover-details
        h3.dark
          | LOVE YOUR PROJECT
        p.legend
          | Figuring out the tool is ridiculously easy.
    .col-md-4.col-sm-3.clear#item
      .featured-icon.white.nuclear
      .cover-details
        h3
          |LIVE THE AGILE EXPERIENCE
    .col-md-4.col-sm-3#item
      .featured-icon.sa
      .cover-details
        h3
          | ALIMENTATION
        p.legend
          | Get useful things done painlessly. Agile is the new, new thing.
    .col-md-4.col-sm-3.clear#item
      .featured-icon.elec
      .cover-details
        h3
          | ENERGIE
        p.legend
          | Get useful things done painlessly. Agile is the new, new thing.
    .col-md-4.col-sm-3.powerful#item
      .cover-details
        h3.green
          |LIVE THE AGILE EXPERIENCE
        p.clear
          | Get useful things done painlessly. Agile is the new, new thing.
    .col-md-4.col-sm-3.clear#item
      .featured-icon.env
      .cover-details
        h3
          | ENVIRONNEMENT
        p.legend
          | Get useful things done painlessly. Agile is the new, new thing.
