doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/css/icons/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/plugins/bootstrap/bootstrap.min.css')
      link(rel='stylesheet', href='/css/plugins/plugins.css')
      link(rel='stylesheet', href='/css/plugins/animate/animate.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/website.css')
      link(rel='stylesheet', href='/css/icons/icons.min.css')
      link(rel='stylesheet', href='/js/plugins/jquery-jvectormap/jquery-jvectormap-2.0.1.css')
    block scripts
  body
    include website/header.jade

    div#content
      block content
    include website/footer.jade


    script(src='/js/plugins/jquery/jquery-1.11.js')
    script(src='/js/plugins/bootstrap/bootstrap.min.js')
    script(src='/js/plugins/parallax/parallax.js')
    script(src='/js/plugins/jquery-jvectormap/jquery-jvectormap-2.0.1.min.js')
    script(src='/js/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js')
    script(src='/js/plugins/scrollr/skrollr.js')
    script(src='/js/website/website.js')
    script(type='text/javascript').
      $(function(){
        $('#sectsion-5').vectorMap({
          });
      });



