extends layout

block append scripts
  //script(src='../js/plugins/angular/angular.js')
  //script(src='../js/plugins/angular/angular-route.js')
  //script(src='../js/auth.client.js')
  script(type='text/javascript', data-main='/js/main.js', src='/js/plugins/require/require.min.js')
  script(type='text/javascript', src='/js/s3upload.js')
block append content
  div(ng-view)
