doctype html
html
  head
    title= title
    block stylesheets
     link(rel='stylesheet', href='/css/plugins/icons.css')
     link(rel='stylesheet', href='/css/plugins/bootstrap/bootstrap.min.css')
     link(rel='stylesheet', href='/css/plugins/plugins.css')
     link(rel='stylesheet', href='/css/style.css')
     link(rel='stylesheet', href='/plugins/modal/css/component.css')
     link(rel='stylesheet', href='/css/custom.css')
    block scripts
  body
    block navbar
      nav.navbar.navbar-default.nav-hadmin.navbar-fixed-top(role='navigation')
        .container
    block content
