extends ../api/layout

block append content
  div.container(style='margin-top:100px;')
    div.col-lg-12
      h1 Opps
      h2 It seems the page you were looking for does not exist.
      h3.error-404 404
