extends ../api/layout

block append content
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-offset-1.col-xs-10
      .error-container
        .error-main
          h1.404  Oops.
          h3  The page you are trying to reach doesn't exist.
          h4
            | Go back to our site or
            a(href='email_compose.html') contact us
            | about the problem.
          br
          .row
            .input-icon.col-md-12
              i.fa.fa-search
              input.form-control(type='text', placeholder='Search for page')
          br
          button.btn.btn-dark(type='button') Search
