block header
  header.header
        #logo
        nav.navbar.navbar-default.navbar-fixed-top(data-0="background-color: rgba(165, 122, 60, 0.0);" data-500="background-color: rgba(165, 122, 60, 1);")
          .container
            .navbar-header
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-left
                li
                  a(href='/')
                    | HANEA
                li
                  a(href='/articles')
                    | ARTICLES
                li
                  a(href='/staff')
                    | STAFF
                li
                  a(href='/projets')
                    | OBJECTIFS
              ul.nav.navbar-nav.navbar-right
