<div id='page_profil_header'>
  <div class='headerblur'>
  </div>
  <div class='userheader'>
    <div class='row'>
      <div class="col-lg-1">
        <img class='avatar-header'src="/images/avatar2.png" alt="avatar 6">
      </div>
      <div class="col-lg-1 col-sm-offset-2">
        <div class='userstatuts'>
          <h1>{{user.name}}</h1>
          <span>{{user.post}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  $('.headerblur').foggy({
  blurRadius: 4,          // In pixels.
  opacity: 0.9,           // Falls back to a filter for IE.
  cssFilterSupport: true  // Use "-webkit-filter" where available.
  });
</script>
