<nav class='navbar navbar-default nav-hadmin navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/api/contenu">Contenus</a></li>
        <li><a href="index.html">Réunions</a></li>
        <li><a href="index.html">Tickets</a></li>
        <li><a href="index.html">Staff</a></li>
        <li><a href="index.html">Statistiques</a></li>
        <li><a href="index.html">NewsLetters</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><i class="fa fa fa-globe usericon"></i></a></li>
        <li><a><i class="fa fa-envelope-o"></i></a></li>
        <li class='user'>
          <a href="#" class="">
            <img src="images/avatar2.png" alt="user avatar" width="30" class="p-r-5">
            <span class="username">{{user.name}}</span>
          </a>
        </li>
        <li><a><i class='fa fa-power-off'></i></a></li>
      </ul>
      <form class="navbar-form" role="search">
        <input type="text" class="form-control navbarinput" placeholder="Search">
      </form>
    </div>
  </div>
</nav>
