<nav id="sidebar">
  <div id="main-menu">
    <form class="navbar-form" role="search">
      <input type="text" class="form-control" placeholder="Search" ng-model="user.name">
      <i class="fa fa-search"></i>
    </form>
    <ul class='sidebar-nav'>
      <li><a href="/api/contenu">Contenus</a></li>
      <p><i class='halflings.envelope'></i></p>
      <li><a href="/api">Réunions</a></li>
      <li><a href="index.html">Tickets</a></li>
      <li><a href="index.html">Staff</a></li>
      <li><a href="index.html">Statistiques</a></li>
      <li><a href="index.html">NewsLetters</a></li>
    </ul>
    <div class='divider'></div>
    <ul class='sidebar-nav'>
      <li>
        <a href="#" class="">
          <img src="/images/avatar2.png" alt="user avatar" width="30" class="p-r-5">
          <span class="username">Souleymane</span>
          <i class="glyph-icon flaticon-settings21"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
