<nav id="sidebar">
  <div id="main-menu">
    <form class="navbar-form" role="search">
      <input type="text" class="form-control" placeholder="Search" ng-model="user.name">
      <i class="fa fa-search"></i>
    </form>
    <ul class='sidebar-nav'>
      <li><i class='icon-doc'></i><a href="/api/contenu">Contenus</a></li>
      <li><i class='icon-doc'></i><a href="/api">Réunions</a></li>
      <li><i class='icon-comment-alt'></i><a href="/api/ticket">Tickets</a></li>
      <li><i class="icon-user-pair"></i><a href="/api/staff">Staff</a></li>
      <li><i class="icon-signal"></i><a href="index.html">Statistiques</a></li>
      <li><i class="icon-mail"></i><a href="/api">NewsLetters</a></li>
    </ul>
    <div class='divider'></div>
    <ul class='sidebar-nav'>
      <li>
        <a href="/api/user/{{user._id}}/edit" class="">
          <img src="{{user.avatar}}" alt="user avatar" width="50" class="p-r-3 img-circle">
          <!-- <img src="{{user.avatar}}" alt="user avatar" width="30" height="30" class="p-r-5 img-circle"> -->
          <span class="username">{{user.name}}</span>
          <i class="glyph-icon flaticon-settings21"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
