.c2{
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
}
.c3{
  -webkit-animation-delay: 0.20s;
  -moz-animation-delay: 0.20s;
}
.c3{
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
}
