.nav-hadmin{
  height: 46px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.error-404{
  font-size: 350px;
  font-family: 'Arial';
  color: #159C81;
}
.media-section{
  position: relative;
  width: 100%;
  height: 700px;
}
.front-bg{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}
video#bgvideo{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*background: url('/video/preview.jpg') no-repeat;*/
  background: url('/images/slide-2.jpg') no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.apilogin{
  position: absolute;
  width: 50%;
  top: 20%;
  left: 35%;
  height: 410px;
}
.apilogin h1{
  width: 70%;
  margin: 14px 60px;
  padding-bottom: 10px;
  color: white;
  border-color: white;
  border-bottom: solid 1px;
}
.apiwelcome{
  color: #FFFFFF;
}
.apiwelcome p{
  font-size: 18px;
}
.signform{
  background-color: #FFFFFF;
  background: #fff;
  margin-top: 24px;
  padding-bottom: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd, GradientType=0)";
  border-bottom: 1px solid #ccd6dd;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  border-radius: 4px;
}
.signform input{
  border: solid #eee 1px;
}
.signform a{
  color: #333;
}
.loginform{
  margin: auto;
}
.loginform #submit-form{
  width: 70%;
}
#haneavideo{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}
#sidebar{
  color: #D2D2DA;
  text-align: center;
  width: 220px;
  top: 0px;
  padding-top: 30px;
}
#sidebar .divider{
  margin-bottom: 4px;
  margin-top: 4px;
  height: 1px;
  background-color: #666;
  margin: 8px 12px;
}
.avatar-header{
  border-radius: 100px;
  padding: -1px -1px !important;
  border:solid #C2C2CA 5px;
  width: 121px;
  height: 121px;
  margin-top: 14px;
}
#main-content{
  /*margin-left: 370px;*/
}
.wrapper{
  padding-left: 180px;
}
.navbar{
  background-color: #2B2E33;
  color: white !important;
}
.navbar li>a{
  color: white !important;
}
.navbarinput{
  height: 28px;
  border-radius: 5px;
}
.error-main h1{
  font-size: 170px !important;
}
.navbar li:hover {
  background-color: #000;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
}
.navbar li{
  padding-bottom: 6px;
}
.navbar  .navbar-right li{
  padding-bottom: 2px;
}
.navbar .user{
  margin-top: -2px;
}
.navbar .fa{
  font-size: 23px;
}
.user-info{
  width: 100%;
}
.user-info h1{
  font-size: 22px;
}
#page_profil_header{
  width: 100%;
  height: 255px;
  position: relative;
}
#page_profil_header .headerblur{
  background-image: url(/images/slide-3.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.9%;
  z-index: 0;
  overflow: hidden;
}
.userheader{
  width: 493px;
  height: 142px;
  position: absolute;
  bottom: 0;
  left: 260px;
  margin: auto;
  right: 0;
  top: 0;
  z-index: 2;
  color: white;
}
.userheader h1{
  width: 200px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: solid #EEE 1px;
}
.navbar-form .form-control{
  border: none;
  color: #000;
  background-color: #D2D2DA !important;
  height: 28px;
  width: 100%;

}
.userstatuts{
  margin-left: 20px;
}
.navbar-form{
  position: relative;
}
.navbar-form i{
  color: #42424A;
  position: absolute;
  top: 4px;
  right: 25px;
  font-size: 19px;
}
.sidebar-nav{
  color: #52525A;
  text-align: left;
  width: 100%;
}
.sidebar-nav .flaticon-settings21{
  font-size: 20px !important;
  padding: 0px 0px;
  position: absolute;
  right: 18px;
  top: 8px;
}
.sidebar-nav .flaticon-settings21:hover{
  color: #D2D2DA;
}
.sidebar-nav li{
  padding: 6px 17px;
    -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
}
.sidebar-nav li:hover{
  background-color: #000;
  background:#373a41;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
}
.sidebar-nav li>a{
  font-size: 15px;
}
.sn2{
  border-top: solid #D2D2DA 1px;
}

.panel{
  border-radius: 0px;
}
body{
  margin-top: 0px;
  background-color: #EEEEEE;
}

.content-menu .navbar{
  background-color: white;
  z-index: 0;
  /*margin-left: -20px;*/
}

.content-menu .navbar .navbar-nav li:hover{
  color: white;
  background-color: white;
}
.content-menu .navbar .navbar-nav {
  margin: 0px 63px;
}
.content-menu .navbar .navbar-nav li a{
  color: #666 !important;
  font-weight: bold;
  padding-left: 15px;
}
.content-menu .navbar .navbar-nav li a:hover{
  color: #333 !important;
}
.page-contenus .container{
  /*margin: 0px 42px;*/
}

.content-type{
  background-color: white;
  padding: 0px 40px;
  padding-bottom: 20px;
  font-size: 13px;
  height: 150px;

}

.content-type a{
  font-weight: bold;
  font-size: 12px;
  color: #32323A;
  text-decoration: none;
}

.content-type .btn-default{
  background-color: #eee !important;
  border-color: #d4d4d4;
}
.content-type button{

  background-color: #EEE;
  border-color: #d4d4d4;
  font-weight: bold;
  font-size: 12px;
  color: #32323A;
}
.content-type button:hover{
  background-color: white;
  color: #32323A;
  border-color: white;
}
.content-type .fa{
  color: #32323A;
}
#main-content{
  background-color: #eee;
}
/*** text angular custom **/

#addcontent strong{
  font-size: 14px;
}
#addcontent textarea{
  width: 100%;
  min-height: 300px;
}
#addcontent .contentsubmit{
  background-color: white;
  color: #c00;
  border: solid #c00 1px;
  border-radius: none !important;
  border-radius: 0px;
  width: 100%;
   -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
}
#addcontent .btn-default{
  background-color: white;
  font-size: 12px;
}
/*** editor wisiwing styling angular **/
#addcontent .ta-editor{
  min-height: 300px;
}
.ta-editor{
  border-radius: 0px;
}
.ta-toolbar{
  margin-left: 0px;
  border:solid 1px #d3d3d3;
  margin-bottom: -1px;
}
.ta-toolbar .active{
  background-color: #55acee!important;
  color: white !important;
}
.ta-toolbar button{
  border:none;
  border-radius: 0px;
}
.ta-toolbar button:nth-child(1){

}

/*** end of editor wisiwing styling angular **/
#addcontent .btn-group{
  margin-left: 0px;
}
#addcontent .btn-group:nth-child(1){
  margin-left: 5px;
}
#addcontent .contentsubmit:hover{
  border-color: #1990DB;
  background-color: #1990DB;
  color: white;
}
.listtable{
  margin-top: 34px;
  margin-left: 40px;
}
.table>thead>tr>th{
  border-bottom: none;
}
.listtable thead{
  background-color: #d4d4d4;
  border-bottom: none;
}
.listtable thead th{
  color: #333;
}
.listtable i{
  font-size: 17px;
  margin-left: 10px;
  cursor: pointer;
}
.listtable a{
  color: #333;
}
.listtable .fa-check{
  color: #333;
}
/* table style */
.listtable .rowcolor{
  background-color: white;
}
.listtable .tableleft{
  padding-left: 25px;
  font-size: 13px;
}
/*
.listtable td{
  max-width: 280px;
}
*/
.tablesearch{
  width: 100px;
  height: 30px;
  background-color: white;
}
.message .alert{
  display: none;
}

.message .alert a{
  color: inherit;
}
.tablesearch{
  position: relative;
  padding: 0px 0px;
  width: 70%;
  height: 48px;
  margin: auto;
  margin-top: 30px;
}
.tablesearch .form-control{
  height: 100%;
  border: none;
  font-size: 20px;
}
.tablesearch .fa-search{
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 22px;
}
.editcontent .form-control{
  background-color: #eee !important;
}
.editcontent .parsley-error{
  background-color: #F2DEDE !important;
}
/***** heroku s3 ***/

.s3file{
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 40px;

}

/****** file upload styling staff *****/
.profil-image-controls{
  position: relative;
  min-height: 200px;
}
.profil-image-controls .imagelocation,
.profil-image-controls input
{
  position: absolute;
}
.profil-image-controls .imagelocation{
  left: 22px;
  top: 12px;
}
.profil-image-controls input{
  left: 200px;
  top: 12px;
}
.profil-image-controls #status{
  display: block;
  position: absolute;
  left: 200px;
  top: 50px;


}
.profil-image-controls input[type=file]{
  color: transparent;
}
.profil-image-controls .validateimagestaff::-webkit-file-upload-button {
  visibility: hidden;
}
.profil-image-controls .validateimagestaff::-webkit-file-upload-text {
  visibility: hidden;
}
.profil-image-controls .validateimagestaff::-moz-file-upload-button {
  visibility: hidden;
}
.profil-image-controls .validateimagestaff::-moz-file-upload-text {
  visibility: hidden;
}
.profil-image-controls .validateimagestaff::before{
 content: 'Select some files';
  display: inline-block;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
  color: #333;


}
.profil-image-controls .validateimagestaff:hover::before {
}
.profil-image-controls .progress{
  width: 200px;
  position: absolute;
  left: 19px;
  top: 176px;
  border-radius: 20px;
  height: 8px;

}
.profil-image-controls .validateimagestaff:active::before {
  background-color: #d4d4d4;
}
.addstaff .contentsubmit{
  height: 30px;
  width: 100%;
}
.addstaff .bio{
  min-height: 100px !important;
}
.stafflist .panel{
  padding: 0px 0px;
}
.staff-element{
  margin-top: 20px;
}
.staff-illustration{
  position: relative;
  width: 100%;
  height: 140px;
  -webkit-background-size: cover;
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}
.staff-illustration>.overlay{
  position: absolute;
  width: 100%;
  height: 140px;
  z-index: 4;
  background-color: rgba(0,0,0,0.3);
}
.staff-content{
  margin-top: 10px;
  text-align: center;
}
.staff-element{
  cursor: pointer;
  position: relative;
}
.staff-content h3{
  margin-top: 0px;
}
.staff-picture{
}
.thumbnails-actions{
  position: absolute;
  top: 73px;
  right: 75px;
  text-align: center;
  z-index: 10;
}
.thumbnails-actions .fa-edit{
  padding: 0px 0px;
}
.thumbnails-actions a{
  color: white;
}
.thumbnails-actions i{
  margin-left: 26px;
}


