.nav-hadmin{
  height: 46px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.error-404{
  font-size: 350px;
  font-family: 'Arial';
  color: #159C81;
}
.media-section{
  position: relative;
  width: 100%;
  height: 700px;
}
.front-bg{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}
video#bgvideo{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url('/video/preview.jpg') no-repeat;
  background-size: cover;
}
.apilogin{
  position: absolute;
  width: 1000px;
  top: 20%;
  left: 22%;
  height: 410px;
}
.apiwelcome{
  color: #FFFFFF;
}
.apiwelcome p{
  font-size: 18px;
}
.signform{
  background-color: #FFFFFF;
  background: #fff;
  margin-top: 24px;
  padding-bottom: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd, GradientType=0)";
  border-bottom: 1px solid #ccd6dd;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  border-radius: 4px;
}
.signform input{
  border: solid #eee 1px;
}
.signform a{
  color: #333;
}

#haneavideo{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}
#sidebar{
  color: white;
  text-align: center;
  width: 220px;
  top: 0px;
  padding-top: 30px;
}
.avatar-header{
  border-radius: 100px;
  padding: -1px -1px !important;
  border:solid #C2C2CA 5px;
  width: 121px;
  height: 121px;
  margin-top: 14px;
}
#main-content{
  /*margin-left: 370px;*/
}
.wrapper{
  padding-left: 180px;
}
.navbar{
  background-color: #2B2E33;
  color: white !important;
}
.navbar li>a{
  color: white !important;
}
.navbarinput{
  height: 28px;
  border-radius: 5px;
}
.error-main h1{
  font-size: 170px !important;
}
.navbar li:hover {
  background-color: #000;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
}
.navbar li{
  padding-bottom: 6px;
}
.navbar  .navbar-right li{
  padding-bottom: 2px;
}
.navbar .user{
  margin-top: -2px;
}
.navbar .fa{
  font-size: 23px;
}
.user-info{
  width: 100%;
}
.user-info h1{
  font-size: 22px;
}
#page_profil_header{
  width: 100%;
  height: 255px;
  position: relative;
}
#page_profil_header .headerblur{
  background-image: url(/images/slide-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.9%;
  z-index: 0;
  overflow: hidden;
}
.userheader{
  width: 493px;
  height: 142px;
  position: absolute;
  bottom: 0;
  left: 260px;
  margin: auto;
  right: 0;
  top: 0;
  z-index: 2;
  color: white;
}
.userheader h1{
  width: 200px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: solid #EEE 1px;
}
.navbar-form .form-control{
  border: none;
  color: #C2C2CA;
  background-color: #52525A !important;
  height: 28px;
  width: 100%;

}
.userstatuts{
  margin-left: 20px;
}
.navbar-form{
  position: relative;
}
.navbar-form i{
  color: #C2C2CA;
  position: absolute;
  top: 7px;
  right: 27px;
}
.sidebar-nav{
  color: #52525A;
  text-align: left;
  width: 100%;
}
.sidebar-nav li{
  padding: 6px 17px;
    -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
}
.sidebar-nav li:hover{
  background-color: #000;
  background:#373a41;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
}
.sidebar-nav li>a{
  font-size: 15px;
}

.panel{
  border-radius: 0px;
}
body{
  margin-top: 0px;
  background-color: #EEEEEE;
}

.content-menu .navbar{
  background-color: white;
  z-index: 0;
  /*margin-left: -20px;*/
}

.content-menu .navbar .navbar-nav li:hover{
  color: white;
  background-color: white;
}
.content-menu .navbar .navbar-nav {
  margin: 0px 63px;
}
.content-menu .navbar .navbar-nav li a{
  color: #666 !important;
  font-weight: bold;
  padding-left: 15px;
}
.content-menu .navbar .navbar-nav li a:hover{
  color: #333 !important;
}
.page-contenus .container{
  /*margin: 0px 42px;*/
}

.content-type{
  background-color: white;
  padding: 0px 40px;
  padding-bottom: 20px;
  font-size: 13px;
  height: 150px;

}
.content-type button{

  background-color: #EEE;
  border-color: #d4d4d4;
  font-weight: bold;
  font-size: 12px;
  color: #32323A;
}
.content-type button:hover{
  background-color: white;
  color: #32323A;
  border-color: white;
}
.content-type .fa{
  color: #32323A;
}
#main-content{
  background-color: #eee;
}
#addcontent strong{
  font-size: 14px;
}
#addcontent textarea{
  width: 100%;
  min-height: 300px;
}
