/*** logo ***/
#logo{
  /*
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 10000;
  top: 0px;
  right: 50%;
  margin-right: -47px;
  background-image: url(/images/logo2.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  */
}


/** header ***/

body{
  margin-top: 0px;
  -webkit-font-smoothing: antialiased;
}
header .navbar{
  /*
  background-color: #a57a3c;
  background: transparent;
  */
  background-color: rgba(165, 122, 60, 0.0);
}
.navbar-default .navbar-nav > li{
  cursor: pointer;
}
.navbar-default .navbar-nav > li > a{
  color: white;
  font-size: 17px;
}

.navbar-default .navbar-nav > li > a:hover{
  color: white;
}
.navbar-nav > li > a{
  padding: 16px;
}
.navbar-nav > li:hover{
  background-color: #8c6835;
}
/*** font *****/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:Condensed);

@font-face {
    font-family: RileysonParent;
    src: url(/fonts/Rileyson-Rg-Parent.ttf);
}
@font-face {font-family: 'PtSans';font-style: normal;font-weight: 400;src: local('Pt sans'), local('Pt sans'), url(/fonts/Pt-sans.ttf) format('ttf');}
@font-face {
    font-family: "Opensanscondlight";
    src: url('/fonts/OpenSans-CondLight.ttf');
}
@font-face {
    font-family: "Opensanscondbold";
    src: url('/fonts/OpenSans-CondBold-webfont.ttf');
}
@font-face {
    font-family: "Open Sans";
    src: url('/fonts/OpenSans-Regular-webfont.ttf');
}
/*** website ***/

h2, h3,
h4, h5, h6{
  font-family: "Opensanscondlight", RileysonParent, Gothic, verdana, arial;
}
h1{
  font-family: "Opensanscondbold", RileysonParent, Gothic, verdana, arial;
  text-transform: uppercase;
}

body{
  /*font-family: 'PtSans', arial, verdana;*/
  font-family: "Open Sans", sans-serif;
  background-color: white;
}
/*** section 1 ****/

section{
  position: relative;
}
section .content{
  width: 70%;
  margin: auto;
  text-align: center;

}

#section-1{
  position: relative;
  min-height: 500px;
  background: transparent;
  /*
    background: url(/images/test2.jpg)no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}
#section-1 .content{
  padding-top: 100px;
  padding-left: 39px;
  width: 1200px;
  margin: auto;
  color: white;
  text-align: left;
}
#section-1 a{
  color: white;
}
#section-1 .content h1{
  font-size: 73px;
  width: 66%;
  color: #81bf89;
  font-weight: bold;
  /*margin-left: 150px;*/
}
#section-1 .content p{
  display: block;
  /*margin-left: 150px;*/
  width: 100%;
  font-size: 30px;
}
#section-1 .content button{
  width: 300px;
  /*margin-left: 150px;*/
  height: 50px;
  border-radius: 14px;
  font-size: 18px;
}
#section-1 .content .btn-primary{
  background-color: #1ABC9C;
  border: none;
}
#section-1 .content .btn-primary.next{
  background-color: transparent;
  font-size: 72px;
  width: 100px;
  height: 90px;
  border-radius: 100px;
  position: absolute;
  top: 354px;
  margin-left: 223px;
}

/*** section 2 *****/
#section-3{
  /*
  background: url(/images/section-3bckg.jpg)no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  background: transparent;
  min-height: 500px;
}
#section-2{
  padding-top: 20px;
  min-height: 200px;
}
#section-2 .content h2.section2{
  text-transform: uppercase;
  font-size: 63px;
  margin: 0px 0px;
  color: #81bf89;
}
#section-3 .content{
  padding-top: 174px;
}
#section-3 .content h1{
  width: 300px;
  margin: auto;
  padding: 23px 0px;
  /*padding-top: 206px;*/
  font-size: 63px;
  color: white;
  background-color: #1ABC9C;
}
#section-2 .content p{
  font-size: 31px;
}
#section-2 .content #doms{
  margin-top: 20px;
}
#section-2 .content #doms p{
  font-size: 21px;
}
#section-2 .content #doms div:first-child{
  margin-right: 0px;
}
#section-2 .content .row .itm {
  margin-bottom: 10px;
}
#section-2 .content .row .itm small{
  display: block;
  margin: 19px 0px;
  margin-left: -76px
}
.pagecell{
  min-height: 300px;
}
.page-list{
}
.page-delete i{
   font-size: 20px;
}
.articlesCategories{
  overflow: scroll;
}

#section-4{
  background: transparent;
  height: 300px;
  margin-bottom: 30px;
}
#section-4 p{
  font-size: 19px;

}
#section-4 .container{
  margin: auto;
  text-align: center;
}
#section-4 .partner-logo.aiea{
  width: 100%;
  min-height: 240px;
  background-image: url(/images/logo-aiea.jpg);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
}
#section-4 .partner-logo.niger-rpb{
  width: 100%;
  min-height: 230px;
  background-image: url(/images/armoiries.png);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
}
#section-5{
  height: 500px;
  margin-top: 182px;
  background-color: #474354;
}
#section-5 .newsletter{
  padding-top: 70px;
}
#section-5 .newsletter h3{
  font-size: 46px;
  color: #81bf89;
}
#section-5 .newsletter p{
  font-size: 18px;
  color: white;
}
#section-5 .newsletter input{
  margin-right: 14px;
  padding-left: 15px;
  height: 50px;
  border: none;
}
#section-5 .newsletter input.email{
  width: 70%;
}
#section-5 .newsletter input.submit{
  background-color: #81bf89;
  color: white;
  padding: 10px 23px;
}
/********** PAGES LAYOUT ***********/
#page-banner-container{
  position: relative;
}
#page-banner-container .page-banner{
  margin: auto;
  overflow: hidden;
  min-height: 500px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#page-banner-container .grid-page-infos{
  padding: 10px 30px;
  width: 1100px;
  min-height: 200px;
  background: url(/images/grid-page-transparent.png) repeat-x;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -594px;
}
#page-banner-container .grid-page-infos h1{
  margin: 50px 0px;
  color: #900;
}
/****** FOOTER ******/

#footer{
  background-color: #1d0b33;
  min-height: 205px;
  overflow: hidden;
  position: relative;
}
#footer .menu{
  width: 300px;
  height: 50px;
  color: #81bf89;
  font-size: 14px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
/***** section features *****/
#hanea-features{
  min-height: 600px;
}
#hanea-features #item{
  height: 300px;
  background-color: #70aa7d;
  min-height: 420px;
}
#hanea-features #item.clear{
  background-color: #81bf89;
}
#hanea-features #item.powerful{
  background-color: #474354;
}

#hanea-features #item .cover-details h3{
  font-weight: 500;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  font-family:'Opensanscondlight';
    font-style:condensed;
}
#hanea-features #item .cover-details h3.dark{
  color: #000;

}
#hanea-features #item .cover-details h3.green{
  color: #81bf89;
}
#hanea-features #item .cover-details p{
  font-size: 24px;
  font-weight: 300;
}
#hanea-features #item .cover-details p.legend{
  font-size: 15px;
  color: white;
}
#hanea-features #item .cover-details p.clear{
  color: white;
}
#hanea-features #item .cover-details{
  text-align: center;
  padding: 48px 48px;
}
#hanea-features #item .featured-icon{
  background-color: #c00;
  border-radius: 125px;
  background-color: #474354;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 39px;
  margin-bottom: -58px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%
}
#hanea-features #item .featured-icon.white{
  background-color: white;
}
#hanea-features #item .health{
    background-image: url("/images/brain.png");
}
#hanea-features #item .nuclear{
  background-image: url("/images/wheels.png");
}
#hanea-features #item .sa{
  background-image: url("/images/securite-alimentaire.png");
}
#hanea-features #item .elec{
  background-image: url("/images/electricity.png");
}
#hanea-features #item .env{
  background-image: url("/images/env.png");
}
#section-2 .content h2.section2{
  font-style:  'Opensanscondlight', RileysonParent, Gothic, verdana, arial !important;
}
