/*** logo ***/
#logo{
  /*
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 10000;
  top: 0px;
  right: 50%;
  margin-right: -47px;
  background-image: url(/images/logo2.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  */
}


/** header ***/


header .navbar{
  background-color: #a57a3c;
}
.navbar-default .navbar-nav > li{
  cursor: pointer;
}
.navbar-default .navbar-nav > li > a{
  color: white;
}
.navbar-default .navbar-nav > li > a:hover{
  color: white;
}
.navbar-nav > li > a{
  padding: 16px;
}
.navbar-nav > li:hover{
  background-color: #8c6835;
}
/*** font *****/


@font-face {
    font-family: RileysonParent;
    src: url(/fonts/Rileyson-Rg-Parent.ttf);
}

@font-face {font-family: 'PtSans';font-style: normal;font-weight: 400;src: local('Pt sans'), local('Pt sans'), url(/fonts/Pt-sans.ttf) format('ttf');}

/*** website ***/

h1, h2, h3,
h4, h5, h6{
  font-family: RileysonParent, Gothic, verdana, arial;
}

body{
  font-family: 'PtSans', arial, verdana;
  background-color: white;
}
/*** section 1 ****/

section{
  position: relative;
}
section .content{
  width: 70%;
  margin: auto;
  text-align: center;

}
#section-1{
  position: relative;
  min-height: 500px;
  background: url(/images/test2.jpg)no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section-1 .content{
  padding-top: 20px;
  padding-left: 39px;
  width: 1200px;
  margin: auto;
  color: white;
  text-align: left;
}
#section-1 .content h1{
  font-size: 63px;
  width: 66%;
  /*margin-left: 150px;*/
}
#section-1 .content p{
  display: block;
  /*margin-left: 150px;*/
  width: 100%;
  font-size: 30px;
}
#section-1 .content button{
  width: 300px;
  /*margin-left: 150px;*/
  height: 50px;
  border-radius: 14px;
  font-size: 18px;
}
#section-1 .content .btn-primary{
  background-color: #1ABC9C;
  border: none;
}
#section-1 .content .btn-primary.next{
  background-color: transparent;
  font-size: 72px;
  width: 100px;
  height: 90px;
  border-radius: 100px;
  position: absolute;
  top: 354px;
  margin-left: 223px;
}

/*** section 2 *****/
#section-3{
  background: url(/images/section-3bckg.jpg)no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}
#section-2{
  padding-top: 20px;
  min-height: 200px;
}
#section-2 .content h1{
  font-size: 63px;
  margin: 0px 0px;
  color: #a57a3c;
}
#section-3 .content{
  padding-top: 174px;
}
#section-3 .content h1{
  width: 300px;
  margin: auto;
  padding: 23px 0px;
  /*padding-top: 206px;*/
  font-size: 63px;
  color: white;
  background-color: #1ABC9C;
}
#section-2 .content p{
  font-size: 31px;
}
#section-2 .content #doms{
  margin-top: 20px;
}
#section-2 .content #doms p{
  font-size: 21px;
}
#section-2 .content #doms div:first-child{
  margin-right: 0px;
}
#section-2 .content .row .itm {
  margin-bottom: 10px;
}
#section-2 .content .row .itm small{
  display: block;
  margin: 19px 0px;
  margin-left: -76px
}
#section-2 .content .row .itm .block-icon{
  width: 150px;
  height: 150px;
  background: #1ABC9C;
  border-radius: 80px;
  padding: 31px 0px;
  color: white;
  font-size: 59px;
}
#section-2 .content #doms div{
  /*
  float: left;
  margin-right: 50px;
  padding: 25px 12px;
  width: 300px;
  height: 100px;
  background-color: #c00;
  */
}
