<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='container'>
    <div id='main-content'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='panel'>
            <div class='panel-body'>
              <div id='message-stat' class='message'>
                <div class="alert alert-success"role="alert">
                  <strong>Well done!</strong> You successfully read this important alert message.
                </div>
                <form role="form" id='addcontent' class=''>
                  <h1>Article</h1>
                  <div class="form-group">
                    <label for="Title">Title</label><span class="asterisk">*</span>
                    <input type="text" class="form-control" id="exampleInputEmail1" name='title' placeholder='title' ng-model='model.title'>
                    <label class="control-label" for="title"><span class="asterisk">{{errors.title.message}}</span></label>
                  </div>
                  <label>Main Image</label>
                  <!--:: dropzone file -->
                  <div class="dropzone" id="dropFile" style='margin-bottom:20px;'>
                  </div>
                  <!--:: end dropzone handling -->
                  <div class='form-group'>
                    <input type="hidden" name"article_image" ng-model='model.image'>
                  </div>
                  <div class="form-group">
                    <!-- add image or video -->
                    <!-- add article inputs -->
                    <label class="form-label">Article Resum </label><span class="asterisk">*</span>
                    <span class="tips">Set article description</span>
                    <div class="controls">
                      <text-angular ta-toolbar="[['bold','italics','insertLink', 'clear']]" class='ta-editor' id="content"  ng-model="model.content"></text-angular>
                      <!--
                      <textarea ng-change='change()' ng-model='content' id="content" class='form-control' name="content"></textarea>
                      -->
                    </div>
                  </div>
                  <div class="form-group">
                    <legend><strong>Publication:</strong></legend>
                    <span class="tips">Check the box to publish your post.</span>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="model.published" id="published"> Published
                      </label>
                    </div>
                  </div>
                  <button ng-click="create()" class="contentsubmit">Enregistrer</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='panel'>
            <div class='panel-body'>
              <!-- <p ng-repeat="item in Category.list"><strong>{{item.name}}</strong></p> -->
              <p><strong>Categories</strong></p>
              <div  ng-repeat="item in Category.list" class="checkbox">
                <label>
                  <input type="checkbox" ng-click="addCategory($index)"> {{item.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='panel'>
            <div class='panel-body'>
              <p><strong>Add Category</strong></p>
              <form ng-submit='createCategory(Category)' class="form-inline">
                <input ng-model="Category.new.name" class="pickadate form-control picker__input" type="text">
              </form>
              <p><small>Press Enter to create</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
