<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='container'>
    <div id='main-content'>
      <div class='row'>
        <div class='col-md-8 col-sm-offset-0'>
          <div class='panel'>
            <div class='panel-body'>
              <div id='message-stat' class='message'>
                <div class="alert alert-success"role="alert">
                  <strong>Well done!</strong> You successfully read this important alert message.
                </div>
              </div>
              <form id='addcontent'>
                <fieldset class='location'>
                  <legend><strong>Location</strong></legend>
                  <span class="tips">Where your post will be displayed.</span>
                  <select id="location" class="form-control">
                    <option>None</option>
                    <option>Section 1</option>
                    <option>Section 2</option>
                    <option>Section 3</option>
                    <option>Section 4</option>
                    <option>Section 5</option>
                  </select>
                </fieldset>
                <fieldset class='title'>
                  <legend><strong>Title and subtile </strong></legend>
                  <div class="form-group">
                    <label class="form-label">Title </label><span class="asterisk">*</span>
                    <span class="tips">Give a title to your content</span>
                    <div class="controls">
                      <input id="title" ng-change='change()' ng-model='title' type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Subtitle </label><span class="asterisk">*</span>
                    <span class="tips">(optional)</span>
                    <div class="controls">
                      <input id="subtitle" ng-change='change()' ng-model='subtitle' type="text" class="form-control">
                    </div>
                  </div>
                </fieldset>
                <fieldset class='content'>
                  <legend><strong>Contenu de votre publication.</strong></legend>
                  <div class="form-group">
                    <label class="form-label">Content </label><span class="asterisk">*</span>
                    <span class="tips">Set the content of your post</span>
                    <div class="controls">
                      <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics'], ['justifyLeft','justifyCenter','justifyRight', 'ul', 'ol']]" class='ta-editor' id="content"  ng-model="content"></text-angular>
                      <!--
                      <textarea ng-change='change()' ng-model='content' id="content" class='form-control' name="content"></textarea>
                      -->
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <legend><strong>Publication:</strong></legend>
                  <span class="tips">Check the box to publish your post.</span>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="published"> Published
                    </label>
                  </div>
                </fieldset>
                <div class="form-group">
                  <button ng-click="create()" class="btn btn-primary contentsubmit">Enregistrer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- last content type -->
        <div class='col-md-4'>
          <div class='panel'>
            <div class='panel-heading'>
            </div>
            <div class='panel-body'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
