<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='container'>
    <div id='main-content'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='panel'>
            <div class='panel-body'>
              <div id='message-stat' class=''>
                <div ng-show="success"class="alert alert-success"role="alert">
                  <strong>Item added!</strong> <a href="/api/article/{{article_id}}/overview">Article overview</a>.
                </div>
                <form role="form" id='addcontent'>
                  <div class="form-group">
                    <label class="form-label"><strong>Titre du media</strong></label>
                    <div class="controls">
                      <input type="text" class="form-control" name"title" ng-model="media.title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class='form-label'><strong>Selectionner une image ou une vidéo </strong></label>
                    <!--:: dropzone file -->
                    <div class="dropzone" id="dropFile" style='margin-bottom:20px;'>
                    </div>
                    <!--:: end dropzone handling -->
                  </div>
                  <div class="form-group">
                    <button ng-click="create()" class="contentsubmit">Enregistrer</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
