<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='container'>
    <div id='main-content'>
      <div class='panel'>
        <div class='panel-body'>
          <div ng-show="error"class="alert alert-danger"role="alert">
            <strong>{{message}}</strong>.
          </div>
          <form role="form" id='addcontent'>
            <div class="form-group">
              <label class='form-label'><h1>AddGarde image for illustrate the page.</h1></label>
              <!--:: dropzone file -->
              <div class="dropzone" id="dropFile" style='margin-bottom:20px;'>
              </div>
              <!--:: end dropzone handling -->
            </div>
            <div class="form-group">
              <label class="form-label">Title </label><span class="asterisk">*</span>
              <span class="tips">Give a title to your content</span>
              <div class="controls">
                <input id="title" ng-change='change()' ng-model='title' type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Content </label><span class="asterisk">*</span>
              <span class="tips">Set the content of your post</span>

              <div class="controls">
                <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics'], ['justifyLeft','justifyCenter','justifyRight', 'clear', 'ul', 'ol']]" class='ta-editor' id="content"  ng-model="content"></text-angular>
                <!--
                <textarea ng-change='change()' ng-model='content' id="content" class='form-control' name="content"></textarea>
                -->
              </div>
            </div>
            <div class="form-group">
              <button ng-click="create()" class="contentsubmit">Enregistrer</button>
            </div>
             <div class='addpageloader' ng-hide='addpageloader'>
             </div>
             <p class='addpageloadertxt' ng-hide='addpageloadertxt'>sending ...</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
