<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper page-contenus'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <!-- main content-->
  <div class='container'>
    <div id='main-content'>
      <div class='row'>
        <div class='col-lg-4'>
          <div class='content-type panel '>
            <h3>Project </h3>
            <p>Allows you to add project informations this will provide a landing page for the project</p>
            <button class='btn btn-primary'><i class="fa fa-star"></i>  Ajouter</button>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='content-type panel '>
            <h3>Video </h3>
            <p>Allows you to add project informations this will provide a landing page for the project</p>
            <button class='btn btn-primary'><i class="fa fa-star"></i>  Ajouter</button>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='content-type panel'>
            <h3>Contenu Basic</h3>
            <p>Permet d'ajouter du texte accompagné d'un titre d'un sous titre d'un lien et d'une image</p>
            <button class='btn btn-primary'><a href="/api/contenu/add"><i class="fa fa-star"></i>  Ajouter</a></button>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='content-type panel'>
            <h3>Slider</h3>
            <p>Carousel for Welcoming user. You may use it for collections of content</p>
            <button class='btn btn-primary'><a href="/api/contenu/add"><i class="fa fa-star"></i>  Ajouter</a></button>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='content-type panel'>
            <h3>Staff</h3>
            <p>When you add this content you may have new person in your staff</p>
            <button class='btn btn-primary'><i class="fa fa-star"></i>  Ajouter</button>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='content-type panel'>
            <h3>News</h3>
            <p>Content type which provides ability to add news to your website</p>
            <button class='btn btn-primary'><i class="fa fa-star"></i>  Ajouter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
