<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='listtable'>
    <header ng-repeat='content in contents'>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Categories</th>
          <th>Published</th>
          <th><i class="fa fa-location-arrow"></i></th>
          <th>Date <i class='fa fa-calendar'></i></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class='rowcolor' ng-repeat='content in contents'>
          <td><strong>{{content.title}}</strong></td>
          <td>
            <a href="#" class="">
              <img src="/images/avatar2.png" alt="user avatar" width="30" class="p-r-5">
              <span class="username">{{content.creator.name}}</span>
            </a>
          </td>
          <td><strong>Contenu Basic</strong></td>
          <td>
            <span ng-if="content.published === true">
              <i class="fa fa-check"></i>
            </span>
            <span ng-if="content.published === false">
              <i class="fa fa-times"></i>
            </span>
          </td>
          <td>
            {{content.location}}
          </td>
          <td>{{content.date}}</td>
          <td>
            <a href="#">
              <i class="glyph-icon flaticon-advanced"></i>
            </a>
            <a href="#">
              <i class="fa fa-trash fa-trash-o trsh-icon"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
