<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='container'>
    <div id='main-content'>
      <div class='panel'>
        <div class='panel-body'>
          <div ng-show="error"class="alert alert-danger"role="alert">
            <strong>{{message}}</strong>.
          </div>
          <form id='addcontent'>
             <div class="form-group">
              <p>Page Url is :</p>
              <h3 class='page-slug-overview'>{{model.slug}}</h3>
              <label class='form-label'><h1>Clique to edit.</h1></label>
              <!--:: dropzone file -->
              <div class="dropzone editdrop" id="dropFile" style='margin-bottom:20px;'>
                <img  class='prev-im'width='100%' height='400px' ng-src='{{model.media}}'/>
              </div>
              <!--:: end dropzone handling -->
            </div>
            <div class="form-group">
              <label class="form-label">Title </label><span class="asterisk">*</span>
              <span class="tips">Give a title to your content</span>
              <div class="controls">
                <input id="title" ng-change='change()' ng-model='model.title' type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Content </label><span class="asterisk">*</span>
              <span class="tips">Set the content of your post</span>
              <div class="controls">
                <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics'], ['justifyLeft','justifyCenter','justifyRight', 'clear', 'ul', 'ol']]" class='ta-editor' id="content"  ng-model="model.content"></text-angular>
                <!--
                <textarea ng-change='change()' ng-model='content' id="content" class='form-control' name="content"></textarea>
                -->
              </div>
            </div>
            <div class="form-group">
              <button ng-click="update()" class="contentsubmit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
