<div class="media-section">
  <div class="front-bg">
    <video id="bgvideo" autoplay poster="">
    </video>
  </div>
  <div class='container'>
    <div class="apilogin">
      <div class="row">
        <div class="col-md-7">
          <div class="loginform">
            <div class="login-logo">
              <h1>Admin Hanea</h1>
            </div>
            <div class="login-form">
              <div class="alert alert-danger" ng-show="errormsg">
                <button type="button" class="close" data-dismiss="alert" ng-click="errormsg = false">×</button>
                {{error}}
              </div>
              <!-- END ERROR BOX -->
              <form ng-submit='submit()'>
                <input type="text" ng-model='user.username' placeholder="Username" class="input-field form-control user" />
                <input type="password" ng-model='user.password'placeholder="Password" class="input-field form-control password" />
                <button id="submit-form" class="btn bg-green ladda-button" data-style="expand-left">
                <span class="ladda-label">login</span>
                </button>
              </form>
              <div class="login-links">
                <a href="/api">Forgot password?</a>
                <br>
                <a href="/api">Don't have an account? <strong>Sign Up</strong></a>
                <div>{{message}}</div> {{test}}
                <a ng-click='callRestricted()', href=''>Shh, this is private!</a>
                <a ng-click='logout()', href=''> lo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
