<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='container'>
    <div ng-show='loadingView' class="loader"></div>
    <div id='main-content'>
      <div class='row'>
      <!-- repeat this file -->
        <div class='col-lg-4 pagecell' ng-repeat='page in pages'>
          <div class='content-type panel page-list' styles="min-height:100px;" data-element="{{page._id}}">
            <h3>{{page.title | limitTo : 50}} ... </h3>
            <a class= 'btn page-edit-button' href="/api/page/{{page._id}}/edit">Edit</a>
            <p ng-click='remove(page._id)'class='page-delete'><i class="fa fa-trash-o"></i></p>
          </div>
        </div>
      <!-- end -->
      </div>
    </div>
  </div>
</div>
