<!-- include sidebar -->
<div sidebarright></div>
<div class='wrapper'>
  <!-- include contentmenu -->
  <div contentmenu></div>
  <div class='container'>
    <div ng-show='loadingView' class="loader"></div>
    <div id='main-content'>
      <div class="row stafflist">
        <div class="col-lg-3" ng-repeat='staff in stafflist'>
          <div class='panel staff-element' ng-mouseover="mouseon()">
            <div class='staff-illustration' style="background-image:url({{staff.avatar}});">
              <div class='overlay'></div>
            </div>
            <div class='staff-content'>
              <h3>{{staff.name}}</h3>
              <h3>{{staff.lastname}}</h3>
            </div>
            <div class='thumbnails-actions'>
              <a href="/api/staff/edit/{{staff._id}}"><i class="fa fa-trash-o fa-3x"></i></a>
              <a href="/api/staff/edit/{{staff._id}}"><i class="fa fa-pencil-square-o fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
